/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
old_project/
OLDCODE/
previous_code/
/.vscode
/*-info.*
*.zip
# Ignore video files
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.webm
*.mpg
*.mpeg
*.3gp
*.ts
*.vob
*.ogv
/previous_backup
/.git_old
/final_upload
/new_upload
/old_project
/OLDCODE
/previous_backup
/vendor
/*.sql
/public/files
/public/media
*.log
error_log